# Ignore system and user-specific files
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dotnet/
.gitconfig
.gnupg/
.lesshst
.local/
.pam_environment
.pki/
.profile
.ssh/
.sudo_as_admin_successful
.thunderbird/
.vscode/
Downloads/
Pictures/
snap/
